[Unit]
Description=Gunicorn server for SITENAME
[Service]
Restart=on-failure
User=maxiaokang
WorkingDirectory=/home/maxiaokang/sites/SITENAME/source
ExecStart=/home/maxiaokang/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket \
    superlists.wsgi:application
[Install]
WantedBy=multi-user.target
